body {
  color: black;
  background: #fff;
  margin: 0px auto 0px auto;
  width: calc(100% - 5em);
}

header {
  border-bottom: 2px solid black;
  padding: 1em 0;
  position: fixed;
  width: calc(100% - 5em);
  background: #fff;
}

:target {
  /* This is to make anchor links work correctly. */
  padding-top: calc(3em + 2px);
  margin-top: calc(-3em - 2px);
}

nav {
  text-align: right;
  word-spacing: 0.5em;
}

nav a {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  border-top: solid 2px black;
  color: #555;
  font-size: 0.8em;
  text-align: right;
  padding: 1em 0;
}

footer .feed {
  float: left;
}

article .header {
  color: #555;
  font-size: 0.9em;
  font-style: italic;
}

.logo a {
  color: black;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  margin-left: 2.35em;
}

.logo object {
  height: 2em;
  position: absolute;
  top: 0.55em;
  left: 0;
}

article {
  clear: both;
  overflow: auto;
}

.enumeration section {
  width: calc(50% - 0.5em);
  float: left;
}

.enumeration section:nth-child(even) {
  clear: both;
  margin-right: 0.5em;
}

.enumeration section:nth-child(odd) {
  margin-left: 0.5em;
}

h2 {
  border-width: 1px 0 0;
  border-style: dashed;
}

main {
  padding-top: calc(3em + 2px);
}

tr.even {
  background: #eee;
}
