<article id="introduction">
  <p>Ercoin is a cryptocurrency which aims to be simple, fast, efficient and fairly distributed. Written in <a href="https://www.erlang.org">Erlang</a> using <a href="https://tendermint.com">Tendermint</a>, it is released under <a href="https://tldrlegal.com/license/apache-license-2.0-%28apache-2.0%29">Apache License 2.0</a>.</p>

  <p><a href="/news/ibo.html">Initial Burn Offering</a> occured between 8th of November and 7th/8th of December 2019. The main network launched on 23rd of January 2020.</p>

  <p>For source codes, issue trackers and technical specification, see <a href="https://gitlab.com/Ercoin">the Ercoin’s profile on GitLab</a>.</p>

  <p>Syndication feeds: <a href="/atom.xml">news</a>, <a href="https://gitlab.com/Ercoin.atom">activity in the GitLab group</a>, <a href="https://gitlab.com/Ercoin/ercoin.atom">activity in the main Ercoin repository</a>, <a href="https://gitlab.com/Ercoin/ercoin/commits/master?format=atom">commits to the main Ercoin repository</a>. There are also feeds of other repositories.</p>
</article>

<article id="learn">
  <h2>Learn</h2>

  <a href="/reasons.html"><h3>Reasons to be interested in Ercoin</h3></a>
  <a href="/whitepaper.html"><h3>Whitepaper</h3></a>
  <a href="/questions-and-answers.html"><h3>Questions & answers</h3></a>
</article>

<article id="wallets">
  <h2>Wallets</h2>
  <ul>
    <li><a href="https://ercoin.gitlab.io/ercoin-browser-wallet/">An in-browser wallet.</a></li>
    <li><a href="https://play.google.com/store/apps/details?id=tech.ercoin.ercoin_wallet">An Android wallet.</a></li>
    <li><s><a href="https://gitlab.com/Ercoin/ercoin_wallet">An obsolete simple command-line wallet written in Erlang</a>, intended for development purposes.</s></li>
  </ul>
</article>

<article id="community">
  <h2>Community</h2>

  <section id="social">
    <h3>Social media & discussion</h3>

    <p>The links below are aggregated in good faith, but do not assume them to be official.</p>

    <ul>
      <li>IRC: <a href="irc://irc.freenode.net/ercoin"><code>#ercoin</code> on <code>irc.freenode.net</code></a>. You can connect either <a href="https://freenode.net/kb/answer/chat">directly</a> or using the <a href="https://matrix.org/">Matrix</a> bridge (<code>#freenode_#ercoin:matrix.org</code>).</li>
      <li>Telegram: <a href="https://t.me/ercoin_chat">ercoin_chat</a></li>
      <li>Twitter: <a href="https://twitter.com/ErcoinTech">@ErcoinTech</a></li>
      <li><a href="https://bitcointalk.org/index.php?topic=2071642">Bitcointalk</a></li>
    </ul>
  </section>

  <section>
    <h3>Software</h3>

    <ul>
      <li><a href="https://mailflagger.org">Mail Flagger</a></li>
    </ul>
  </section>

  <section>
    <h3>Software libraries</h3>

    <ul>
      <li><a href="https://github.com/KrzysiekJ/ern_reactor/">ern_reactor</a> (Python)</li>
    </ul>
  </section>

  <section>
    <h3>IBO explorers</h3>

    <ul>
      <li><a href="https://ibo.laboratorium.ee">ibo.laboratorium.ee</a></li>
    </ul>
  </section>

  <section id="bounties">
    <h3>Bounties</h3>
    <p>Get paid for Ercoin-related work.</p>

    <ul>
      <li><s><a href="/news/bug-bounty-1.0.0-beta.1.html">Pre-production bug bounties</a></s></li>
      <li>120 BLK for <a href="https://github.com/jneen/rouge/issues/752">adding a LFE lexer to Rouge</a>. This will add syntax highlighting to LFE modules in GitLab.</li>
      <li><s>125 BLK for fixing <a href="https://github.com/ninenines/erlang.mk/issues/699">a bug with Triq plugin in erlang.mk</a>. This will ease testing.</s> Fixed!</li>
    </ul>
  </section>

  <section id="contributing" class="enumeration">
    <div>
      <h3>Contributing</h3>
      <p>Ercoin needs help to grow. There are plenty of ways to contribute:</p>
    </div>

    <section>
      <h4>Invest</h4>
      <p>Besides being an individual investment opportunity, purchasing Ercoin (after it is launched) or participating in the initial distribution will increase its market capitalization.</p>
    </section>

    <section>
      <h4>Find bugs</h4>
      <p>Join <a href="https://testnet.ercoin.tech">the test network</a> and try to find a bug.</p>
    </section>

    <section>
      <h4>Improve the node</h4>
      <p>Implement features, fix bugs and review code in the <a href="https://gitlab.com/Ercoin/ercoin">main repository</a>.</p>
    </section>

    <section>
      <h4>Improve an existing wallet or write a new one</h4>
      <p>Ercoin wallets don’t embed a node; they communicate with <a href="https://tendermint.com">Tendermint</a> using WebSockets and RPC. It is therefore conceptually easy to write a wallet.</p>
    </section>

    <section>
      <h4>Improve graphics</h4>
    </section>

    <section>
      <h4>Improve this website</h4>
      <p><a href="https://gitlab.com/Ercoin/ercoin.tech">Its repository</a> is available.</p>
    </section>

    <section>
      <h4>Market</h4>
      <p>Learn about Ercoin’s features and spread the word to help its community grow.</p>
    </section>

    <section>
      <h4>Sponsor</h4>
      <p>If you are better skilled at other tasks, you can pay someone to do one of the above. There is currently no official sponsorship program. You can choose an appropriate person to support by yourself or establish <a href="/#bounties">a bounty</a>.</p>
    </section>
  </section>
</article>

<article id="news">
  <h2>News</h2>
  $partial("templates/post-list.html")$
</article>
